.portfolio {
    height: 100vh;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 6rem;

    background-color: #4c7085;
    color: #fff;
    font-size: 1.15rem;
    border: none;   
}

.portfolio__title {
    font-size: 2.5rem;
    font-weight: 700;
}

.portfolio__subtitle {
    font-size: 1.25rem;
    text-align: center;
    width: 80%;
    font-weight: 300;
    margin-top: -2.2rem;
    margin-bottom: 1em;
}

@media only screen and (min-width: 900px) {
    .portfolio {
        width: 100vw;
    }
}